* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #171733;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  color: #fff;
}
a {
  color: #fff;
}
p {
  font-size: 1.2rem;
}
p.desc {
  font-size: 0.8rem;
}

.container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#me {
  text-align: center;
}
#me img {
  object-fit: contain;
  max-width: 250px;
  min-height: 250px;
  max-height: 250px;
  object-fit: contain;
  filter: grayscale(100%);
}
.content {
  margin: auto;
  width: 100%;
}

.main-title {
  font-size: 3rem;
}
.title-desc {
  font-size: 1.5rem;
  width: 50%;
  display: inline;
}
.line {
  box-sizing: border-box;
  display: block;
  height: 0.2rem;
  background-color: #fff;
  width: 0%;
}
.sub-title {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.projects {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 1rem;
  justify-content: space-evenly;
  transition: all 0.7s;
  opacity: 0;
  transform: translateY(20px);
}
.projects-show {
  opacity: 1;
  transform: translateY(0px);
}
@media (max-width: 800px) {
  .projects {
    flex-direction: column;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 15rem;
  max-width: 25rem;
  margin-top: 2rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
  background-color: #333456;
  flex-basis: 100%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
.card-container {
  padding: 2px 16px;
}
.card-media {
  width: 100px;
  height: 150px;
  object-fit: cover;
}
.projects-content img {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media (min-width: 800px) {
  .projects-content img {
    width: 60%;
  }
  .about{
    margin-left: 3rem;
    width: 75%;
  }
}
.footer {
  border-top: #fff solid 0.1rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(51, 52, 86, 1) 100%
  );
  padding: 3rem;
  min-width: 15rem;
}
.fa-github:before {
  color: white;
  font-size: 1.5rem;
  margin-left: 1.5rem;
}
.fa-linkedin::before {
  color: white;
  font-size: 1.5rem;
  margin-left: 1.5rem;
}
.list{
  padding: 1.5rem
}
